<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53821092378-gr08b3k53sh82rgggciaishk3vlq0d9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53821092378-gr08b3k53sh82rgggciaishk3vlq0d9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53821092378-sib0lehb9eb938hff5muaen0sgsc45ep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOCP2gKEjOhgre4OpcNrWv5ds6YFKsipw</string>
	<key>GCM_SENDER_ID</key>
	<string>53821092378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swappy</string>
	<key>PROJECT_ID</key>
	<string>swappy-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>swappy-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53821092378:ios:0748f1f599824be8</string>
	<key>DATABASE_URL</key>
	<string>https://swappy-mobile.firebaseio.com</string>
</dict>
</plist>